logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

architectural-analysis-29-11-25.md

dist
dist-ssr
dev-dist

docs
node_modules

*.local
.env
.env.local
.env*.local

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cursor
.windsurf

.DS_Store
Thumbs.db


*.tmp
*.temp

